# .gitignore to only track sounds used in SOUND_SOURCES
**/*.ogg
!kenney/glass_005.ogg
!kenney/glass_006.ogg
!kenney/select_002.ogg
!kenney/select_001.ogg
!kenney/minimize_006.ogg
!kenney/confirmation_002.ogg
!kenney/maximize_006.ogg
!kenney/drop_004.ogg
!kenney/click_002.ogg
!kenney/error_004.ogg
!kenney/impactWood_medium_000.ogg
!kenney/impactWood_medium_001.ogg
!kenney/impactWood_medium_002.ogg
!kenney/impactWood_medium_003.ogg
!kenney/impactWood_medium_004.ogg
!kenney/select_006.ogg
!kenney/error_005.ogg
!kenney/drop_001.ogg
!chess/celebrate1.ogg
!chess/celebrate2.ogg
!chess/celebrate3.ogg
!chess/celebrate4.ogg
!chess/celebrate5.ogg